@import '../../utils/scss/index';

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #0a0a0a;
}

.admin-view {
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: $color-blackish-one;
    padding: 8px;

    &-img {
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h3 {
      text-align: center;
    }

    .logo__image, img {
      width: 80px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;

    .input-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 15px auto;
    }

    p, div.error, label {
      text-align: center;
      font-size: $font-size-small;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    label {
      display: block;
      width: 100%;
    }

    div.error {
      color: $color-redish-primary;
      padding: 8px;
      background-color: rgba(0, 0, 0, 0.5);
      font-size: $font-size-small;
    }

    input {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px auto;
      padding: 5px;
      text-align: center;
      background-color: $color-blackish-three;
      color: $color-greyish-two;

      &::file-selector-button {
        background-color: $color-redish-four;
        padding: 5px;
        margin-right: 10px;
        cursor: pointer;
        border: none;
        color: $color-greyish-five;
        text-transform: uppercase;
      }
    }
  }

  &__modal-files {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sample-files {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        text-decoration: none
      }
    }

    .btn {
      margin: 10px auto 55px;
    }
  }

  &__modal-form {
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    background-color: $color-blackish-primary;
    overflow: hidden;


    h3 {
      font-size: $font-size-large;
      text-align: center;
      text-transform: uppercase;
      padding: 20px;
    }

    .btn.modal {
      margin: 20px auto;
    }
  }

  &__modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .btn {
    background-color: $color-redish-four;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    color: $color-greyish-five;
    font-size: $font-size-medium;
    text-transform: uppercase;
    transition: 0.3s;

    &:hover {
      filter: brightness(80%);
    }
  }

  position: relative;
  z-index: 1;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;

  &__header {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    background-color: $color-blackish-primary;
    margin: 25px auto;

    h2 {
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      color: $color-greyish-four;
      font-size: $font-size-Xlarge;
      padding: 20px 10px;
    }

    button {
      margin-bottom: 20px;
      width: 80%;
    }
  }

  &__header-picture {
    overflow: hidden;
    width: 40%;

    img {
      width: 100%;
    }
  }
}

.admin-view__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  background-color: $color-blackish-primary;
  width: 95%;
  margin-top: 20px;

  &-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      width: 80%;
      margin: 15px auto;
      text-transform: uppercase;
      font-size: $font-size-medium;
      background-color: $color-redish-four;
      padding: 5px 10px;
      cursor: pointer;
      border: none;
      color: $color-greyish-five;
    }
  }
}

.admin-view__go-back-button {
  display: block;
  width: 80%;
  margin-top: 60px;
}

@media (min-width: 653px) {
  .admin-view__go-back-button {
    font-size: $font-size-medium;
  }
  .admin-view {

    &__modal-files {
      .sample-files {
        width: 60%;
      }
    }

    &__form {
      margin: 10px auto;
    }

    &__header {
      flex-direction: row;
      align-items: center;

      div.logo {
        width: 80px;
      }

      h2 {
        font-size: $font-size-Xlarge;
      }

      button {
        font-size: $font-size-medium;
      }

      button.btn {
        padding: 8px 16px;
        margin-right: 20px;
        margin-bottom: 0;
        width: auto;
      }

      &__form {
        margin: 10px auto;
      }
    }

    &__header-picture {
      width: 20%;
    }
  }
  .admin-view__navigation {
    flex-grow: 2;
    background-color: $color-blackish-primary;
    width: 95%;
    margin-top: 20px;

    &-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {

        font-size: $font-size-medium;
        padding: 8px 16px;
      }

      button {
        font-size: $font-size-medium;
      }
    }
  }
}

@media (min-width: 1024px) {
  .admin-view {
    max-width: 1200px;
    margin: 0 auto;

    &__modal-files {
      .sample-files {
        width: 30%;
      }
    }

    &__logo {
      justify-content: flex-start;
      flex-direction: row;
      width: 100%;
      flex-wrap: nowrap;

      h3 {
        width: 100%;
        margin-right: 80px;
      }

      .logo__image {
        width: 80px;
      }
    }

    &__header {
      h2 {
        font-size: $font-size-XXlarge;
        background: none;
      }

      button {
        font-size: $font-size-medium;
      }

      button.btn {
        padding: 8px 16px;
        margin-right: 20px;
        margin-bottom: 0;
        width: auto;
      }
    }

    &__header-picture {
      width: 14%;
      margin-left: 20px;
    }
  }
  .admin-view__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &-buttons {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      button {
        width: 40%;
        font-size: $font-size-medium;
        padding: 8px 16px;
      }
    }
  }
}