// Colors
$color-greenish-primary: #1ecb40;
$color-bluish-primary: #0b8bd4;

$color-redish-primary: #c92929;
$color-redish-one: #2d1414;
$color-redish-two: #510a0a;
$color-redish-three: #811336;
$color-redish-four: #e02735;
$color-redish-five: #ff0004;
$color-redish-six: #ee4540;

$color-blackish-primary: #0a0a0a;
$color-blackish-one: #1e1e1f;
$color_blackish-two: #222224;  //mój kolor//

$color-greyish-primary: #4d4d4d;
$color-greyish-one: #666666;
$color-greyish-two: #7e7e7e;
$color-greyish-three: #9e9e9e;
$color-greyish-four: #cfcfcf;
$color-greyish-five: #f7f7f7;

// Fonts
$font-size-XXlarge: 2.4rem;
$font-size-Xlarge: 2.2rem;
$font-size-large: 2rem;

$font-size-XXmedium: 1.8rem;
$font-size-Xmedium: 1.6rem;
$font-size-medium: 1.5rem;

$font-size-Xsmall: 1.4rem;
$font-size-small: 1.2rem;

// Pages
$max-page-width: 1430px;
