@import '../../utils/scss/constants';

.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-blackish-primary;

  &__container {
    width: 320px;
  }

  &__inputs-box {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }

  &__forget-account {
    margin-top: 10px;
    font-size: $font-size-Xsmall;
    text-align: right;
  }

  &__login-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__have-account {
    font-size: $font-size-Xsmall;

    a {
      color: inherit;
    }
  }
}
