@import '../../utils/scss/constants';
.user-page {
  width: 98%;
  margin: 0 auto;
  min-height: 100vh;
  background-color: $color-blackish-primary;
  &__header {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    h1 {
      width: 49%;
      font-size: $font-size-medium;
      text-transform: uppercase;
      text-align: center;
    }
    button {
      width: 60%
    }
  }
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__inputs {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__col1, &__col2, &__col3, &__col4 {
    width: 98%;
    text-align: center;
  }

  &__input-box,&__select-box,&__checkbox-box,&__textarea-box  {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    background-color: $color-blackish-one;
    padding: 10px;
    border: 0;
    color: $color-greyish-two;
    outline: none;
  }

  &__checkbox-box{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    label{
      text-align: center
    }
  }

  &__submit-box{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .input-container{
    display: flex;

    .input_col1, {
      width: 98%;
      margin-right: 2%;
    }
    .input_col2{
      display: flex;
      width: 98%;
    }
  }
  label {
    font-size: $font-size-Xsmall;
  }
  input, select, textarea {
    margin: 5px 0;
    background-color: $color-blackish-three;
    padding: 10px;
    border: 0;
    color: $color-greyish-two;
    outline: none;
  }

  textarea{
    max-width: 100%;
    min-width: 100%;
  }
  h1 {
    font-size: $font-size-large;
  }
  h2 {
    font-size: $font-size-Xsmall;
  }
  .logo {
    margin: 0;
  }
  .btn {
    display: inline-block;
    border: none;
    font-size: $font-size-Xsmall;
    background-color: $color-redish-four;
    text-decoration: none;
    color: $color-greyish-five;
    cursor: pointer;
    padding: 4px 8px;
    font-weight: 100;
  }

  .user-submit-btn{
    font-size: $font-size-large;
    padding: 5px 20px;
    margin: 10px auto;
  }
  .user-btn{
    margin: 10px;
  }
}
@media (min-width: 1024px) {
  .user-page {
    max-width: 1366px;
    &__header {
      height: 100px;
      flex-direction: row;
      justify-content: space-between;
      h1 {
        width: auto;
        font-size: $font-size-XXlarge;
      }
      button {
        width: auto
      }
    }
    &__inputs {
      flex-direction: row;
    }
    &__col1, &__col2, &__col3, &__col4 {
      width: 48%;
      text-align: left;
    }
    .input-container {
      display: flex;
      flex-direction: row;
      .input_col1, {
        width: 75%;
        margin-right: 2%;
      }
      .input_col2 {
        width: 25%;
      }
    }
    input, select, textarea {
      text-align: left;
    }
    
  }
}
@media (max-width: 1023.98px) {
  .user-page{
    .user-btn {
      width: 100%;
    }
  }
}