.human-resources-page {
  margin: 0 auto;
  margin-top: $navigation-hight;
  margin-bottom: 20px;
  max-width: $max-page-width;
  background-color: #222224;

  &__container {
    background-color: #292a2b;
    padding: 10px 15px;
  }
}
