@import '../../../utils/scss/constants';

.login,
.password {
  width: 100%;
  margin: 5px 0;
  background-color: $color-blackish-three;
  padding: 10px;
  border: 0;
  color: $color-greyish-two;
  outline: none;
}

.error {
  color: $color-redish-five;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-small;
}
